body{
	background-image: url("/I/fondo.jpg");
	background-attachment: fixed;
	font-size: 24px;
	padding:0px; 
	margin:100px; 
	font-family: arial;
}
header{
	background-color: #FFF;
	width: 100%;
	position: fixed;
	top:0px;
	left:0px;
	z-index: 100;
}
header > table{
	width: 100%;
}
header td{
	text-align: center;
}
header .titulo{
	font-size: 24px;
	display: inline-block;
	font-weight: bold;
}
#logo{
	width: 80px;
}
#logoeci{
	height: 80px;
}
header td.creadores{
	font-size: 20px;
	display: inline-block
}
#alerta{
	border:solid;
	background-color:blue;
}
#alerta.red{
	background-color:red;
}
#alerta  div{
	padding: 10px;
	background-color:white;
	margin:20px;
	text-align:center;
}
#alerta  div  span{
	font-weight:bold;
}
#alerta  div  audio{
	display:none;
}
#alerta  div  input{
	font-size: 27px;
	margin: 10px;
}
#listaMensajes{
	opacity: 0.85;
  	filter: alpha(opacity=85);
	border: solid 2px;
	max-height: 689px;
	overflow: auto;
	margin:10px;
}
#listaMensajes  div:nth-child(even) {
	background: #eee;
}
#listaMensajes  div:nth-child(odd) {
	background: #FFF;
}
#listaMensajes  div{
	border-bottom: solid 2px;
	padding:5px;
}
#listaMensajes  div  span{
	font-size: 18px;
	font-weight: bold;
	margin-right: 18px;
    color: #512da8;
}
.nuevo{
	background-color: #faa !important;
	cursor:pointer;
}