doctype html
html
	head
		title  Administrador Ecibot - Escuela Colombiana de Ingeniería
		link(rel="shortcut icon",type="image/png",href="I/favicon.ico")
		script(src="C/jquery.eci")
		script(src="C/Ajax_.REST.eci")
		script#MJimported(src="C/MJ.eci")
		script(src="C/reTry.eci")
		script(src="C/admin.eci")
		link(rel="stylesheet", href="S/admin.css",type="text/css")
		link(rel="stylesheet", href="S/base.css",type="text/css")
	body
		div.form
			img(src="/I/logo.png")
			br
			br
			input#Usuario(type="text",placeholder="Usuario")
			br
			input#Clave(type="password",placeholder="Clave")
			br
			br
			input(type="button",value="Ingresar",onclick="admin.POST();")